@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.app-logo {
   padding-left: 50px;
}

.sidebar {
   display: flex;
   height: 100vh;
   float: left;
   overflow: 'scroll initial';
   font-family: 'Exo 2', sans-serif;
   font-weight: bold;
}

.side-container {
   padding-top: 30px;
}

.side-row {
   padding: 30px;
}

.react-bootstrap-table thead {
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 1021;
    color: white;
}
.footer {
   height: 10px;
   float:inline-end;
   background-color: black;
   position: block;
   width: 100%;
   left: 0;
   bottom: 0;
   color: white;
   text-align: center;
}

h1{
   font-family: 'Exo 2', sans-serif;
   font-weight: bold;
   color: white;
   margin-top: 50px;
}

Table {
   font-family: 'Exo 2', sans-serif; 
}
